<a href="https://colab.research.google.com/github/yuliiabugrova/structure_task/blob/main/my_structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Структура містить такі поля: назва команди, кількість поразок, кількість
перемог, кількість нічиїх. Вивести на екран команду, яка найбільше разів
перемогла.

In [5]:
# Завдання 1, варіант через dict
teams = [
    {"name": "Шторм", "losses": 3, "wins": 7, "draws": 2},
    {"name": "Блискавка", "losses": 1, "wins": 9, "draws": 1},
    {"name": "Грім", "losses": 2, "wins": 6, "draws": 4}
]

best_team = teams[0]

for team in teams:
    if team["wins"] > best_team["wins"]:
        best_team = team

print("Команда з найбільшою кількістю перемог:", best_team["name"])

Команда з найбільшою кількістю перемог: Блискавка

In [8]:
# Завдання 1, варіант через class
class Team:
    pass

team1 = Team()
team1.name = "Шторм"
team1.losses = 3
team1.wins = 7
team1.draws = 2

team2 = Team()
team2.name = "Блискавка"
team2.losses= 1
team2.wins= 9
team2.draws = 1


team3 = Team()
team3.name="Грім"
team3.losses= 2
team3.wins= 6
team3.draws =  4


teams = [team1, team2, team3]
best_team = teams[0]

for team in teams:
    if team.wins > best_team.wins:
        best_team = team

print("Команда з найбільшою кількістю перемог:", best_team.name)

Команда з найбільшою кількістю перемог: Блискавка

2. Структура містить такі поля: ПІП студента, курс, номер групи, рік
народження. Вивести на екран наймолодшого студента.

In [9]:
# Завдання 2, варіант через dict
students = [
    {"name": "Коваль А. В.", "course": 1, "group": 102, "birth_year": 2006},
    {"name": "Сидоренко І. П.", "course": 2, "group": 201, "birth_year": 2005},
    {"name": "Мельник Ю. О.", "course": 1, "group": 103, "birth_year": 2007},
    {"name": "Бугрова Ю. В.", "course": 1, "group": 103, "birth_year": 2007},
    {"name": "Адамлюк В. В.", "course": 4, "group": 103, "birth_year": 2005}
]

max_birth_year = students[0]["birth_year"]

for student in students:
    if student["birth_year"] > max_birth_year:
        max_birth_year = student["birth_year"]

print("Наймолодші студенти:")
for student in students:
    if student["birth_year"] == max_birth_year:
        print(student["name"])

Наймолодші студенти:
Мельник Ю. О.
Бугрова Ю. В.

In [10]:
class Student:
    pass

student1 = Student()
student1.name = "Коваль А. В."
student1.course = 1
student1.group = 102
student1.birth_year =  2006

student2 = Student()
student2.name = "Сидоренко І. П."
student2.course = 2
student2.group = 201
student2.birth_year = 2005

student3 = Student()
student3.name = "Мельник Ю. О."
student3.course = 1
student3.group =  103
student3.birth_year =  2007

student4 = Student()
student4.name = "Бугрова Ю. В."
student4.course = 1
student4.group = 103
student4.birth_year =  2007

student5 = Student()
student5.name = "Адамлюк В. В."
student5.course = 4
student5.group = 103
student5.birth_year =  2005

students = [student1, student2, student3, student4, student5]


max_birth_year = students[0].birth_year

for student in students:
    if student.birth_year > max_birth_year:
        max_birth_year = student.birth_year

print("Наймолодші студенти:")
for student in students:
    if student.birth_year == max_birth_year:
        print(student.name)

Наймолодші студенти:
Мельник Ю. О.
Бугрова Ю. В.